.elements{
    display: grid;
    margin: 0 auto;
    margin-top: 51px;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 17px;
    column-gap: 20px;
    max-width: 880px;
}
@media screen and (max-width: 896px){
    .elements{
        max-width: 579px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 599px){
    .elements{
        display: flex;
        flex-direction: column;
        margin-top: 36px;
        max-width: 282px;
    }
}