.profile__info{
    max-width: 336px;
    width: 100%;
    margin: 0 auto 0 30px;
}
@media screen and (max-width:599px) {
    .profile__info{
        margin: 0 auto;
        margin-top: 26px;
        justify-content: center;
        max-width: 282px;
    }
}